# opam local switch
db.sqlite
.envrc
_opam/

# Dune build environment
_build/

# dumps and things
data/

# Git
.git/
.gitignore

# Development
Dockerfile
docker-compose.yml

# Terraform
terraform/

# Testing
tests/load

# Node stuff
node_modules
